nav {
  position: fixed;
  width: 99%;
  background-color: white;
}

img {
    float: left;
    width: 50px;
}

logo {
    font-size: 40px;
    margin-left: 8px;
    color: rgb(194, 14, 14);
}

hd {
  font-size: 32px;
  color: rgb(77, 77, 179);
}

ul {
    margin: 0;
    padding: 0;
    float: right;
}

.li {
    padding: 10px;
    list-style-type: none;
    float: left;
    margin-top: 4px;
}

.li:hover {
    background-color: rgb(219, 35, 35);
}

a {
    display: block;
    text-underline-position: none;
    text-decoration: none;
    color: black;
}

.body {
  margin-top: 100px;
}

.search {
    text-align: center;
}

input {
    width: 650px;
    height: 30px;
    font-size: 20px;
    border-radius: 50px;
    outline: none;
    padding-left: 10px;
    color:rgb(194, 14, 14);
}

.underline {
  border-bottom: 2px rgb(192, 186, 186) solid;
  margin-top: 10px;
}

.result {
  border: 1px grey solid;
  margin-top: 12px;
  font-size: 20px;
}

.QA {
  margin-top: 10px;
}

.question {
  margin-top: -20px;
  font-size: 20px;
  color: rgb(194, 14, 14);
  background-color: #f0f0f0;
}

.questionS {
  font-size: 20px;
  color: rgb(194, 14, 14);
  margin: 10px 10px 0px 10px;
}

.answerS {
  font-size: 20px;
  color: rgb(8, 143, 8);
  margin: 10px;
}

.hr {
  margin-right: 50px;
}

@media screen and (max-width: 1057px) {
  .adjust {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  input {
    max-width: 100%;
  }
}

.red {
  color: rgb(194, 14, 14);
  font-size: 23px;
}

.green {
  color: rgb(8, 143, 8);
  font-size: 23px;
}

.redS {
  color: rgb(194, 14, 14);
}

.greenS {
  color: rgb(8, 143, 8);
  margin-top: 9.5px;
}

.space-top {
  padding-top: 67px;
}

.title {
  text-align: center;
  font-size: 30px;
  color: rgb(77, 77, 179)
}

.table-title {
  font-size: 23px;
  text-align: center;
}

.box {
  background-color: #f0f0f0;
  max-width: 67%;
  margin: auto;
}

.main {
  text-align: center;
  font-size: 20px;
}

.pdf {
  float: right;
  margin-top: -60px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr th {
  background-color: white;
}

tr {
  background-color: rgb(201, 250, 201);
}

tr:nth-child(even) {
  background-color: rgb(230, 254, 255);
} 


.name {
  padding: 10px;
}

.resQ {
  padding-left: 20px;
  color: rgb(194, 14, 14);
}

.resA {
  padding-left: 20px;
  color: rgb(8, 143, 8);
}

.liQH {
  cursor: pointer;
}

.liAH {
  cursor: pointer;
}

mark {
  background-color: rgb(203, 203, 240);
  color: rgb(194, 14, 14)
} 

.selectedQA {
  margin-top: 13px;
  font-size: 20px;
  background-color: #f0f0f0;
}

#load {
  cursor: pointer;
  text-align: center;
  background-color:  rgb(162, 162, 221);
  font-size: 20px;
}

.form {
  padding: 10px;
  max-width: 78%;
  margin: auto;
  padding-top: 25px;
}

.add {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 27px;
  color: rgb(77, 77, 179);
}

.adder {
  margin-top: 10px;
  font-size: 20px;
  background-color: #f0f0f0;;
  max-width: 65%;
  margin: auto;
  text-align: center;
}

textarea {
  margin: 10px;
  font-size: 20px;
  width: 100%;
  resize: none;
  border: none;
}

@media screen and (max-width: 680px) {
  textarea {
    width: 95.5%;
  }
}

.adjust-heading {
  float: left;
  margin-left: 9px;
}

.textQues {
  color: rgb(194, 14, 14);
}

.textAns {
  color: rgb(8, 143, 8);
}

button {
  cursor: pointer;
  background-color: rgb(132, 132, 219);
  font-size: 15px;
  outline: none;
  padding: 3px 10px 3px 10px;
  float: middle;
}

#btnD {
  background-color: rgb(211, 84, 84);
  margin-left: 3px;
}

@media screen and (max-width: 478px) {
  .body, .add {
    margin-top: 200px;
  }
  .space-top {
    margin-top: 134px;
  }
}

@media screen and (max-width: 281px) {
  .body, .add {
    margin-top: 250px;
  }
  .space-top {
    margin-top: 167.5px;
  }
}


/* Cases */

header {
  font-size: 32px;
}

.india-cases, .world-cases {
  text-align: center;
}

.india-cases, .world-cases, .country-left, .country-right {
  float: left;
  width: 49.7%;
  background-color: #f0f0f0;
}

.india-cases, .country-left {
  border-right: 1px grey solid;
}

@media screen and (max-width: 1062px) { 
  .india-cases, .world-cases {
    width: 100%;
  }

  .india-cases {
    border-right: none;
  }

  .india-cases {
    border-bottom: 1px grey solid;
  }
}

detail, head {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

row head {
  background-color: white;
}

row {
  background-color: rgb(198, 198, 243);
}

row:nth-child(even) {
  background-color: rgb(201, 250, 201);
} 

.confirmed {
  color: rgb(194, 14, 14);
  text-align: center;
}

.active {
  color: rgb(35, 35, 211);
  text-align: center;
}

.recovered {
  color: rgb(8, 143, 8);
  text-align: center;
}

.deaths {
  color: rgb(75, 71, 71);
  text-align: center;
}

.india-map, .world-map {
  width: 50%;
  height: 50%;
  margin: 20px;
  float: middle;
}

.world-map {
  width: 96%;
  height: 70%;
}

.header {
  color: rgb(35, 35, 211);
  font-size: 20px;
}

.head-confirmed {
  color: rgb(194, 14, 14);
}

.head-active {
  color: rgb(35, 35, 211);
}

.head-recovered {
  color: rgb(8, 143, 8);
}

.head-death {
  color: rgb(75, 71, 71);
}

.chart {
  margin: 20px 20px 0px 20px;
}

.head {
  margin: 5px;
}

/* rate */

.information {
  text-align: center;
  font-size: 20px;
}

.comparison {
  display: grid;
  grid-template-rows: 2;
  background-color: #f0f0f0;
}

.select {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

info {
  text-align: center;
  font-size: 20px;
}

.select-left, .select-right {
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  color: rgb(35, 35, 211);
  background-color: #f0f0f0;
  outline: none;
}

.select-left {
  grid-column-start: 1;
}

.select-right {
  grid-column-start: 3;
}

.countries {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 3fr 1fr;
  text-align: center;
  margin: 10px;
}

.country-flag-left {
  grid-column-start: 2;
  width: 100%;
}

countryNameLeft, countryNameRight {
  font-size: 32px;
  color: rgb(35, 35, 211);
}

countryNameLeft {
  border-right: 1px grey solid;
}

.country-flag-right {
  width: 100%;
}

.cases {
  display: grid;
  grid-template-columns: 1fr 9.1fr 1fr;
}

.block {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

mainHeader, mainHead {
  padding: 6px;
  background-color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.left {
  grid-column-start: 1;
  grid-row-start: 2;
  margin: 0px 10px 10px 0px;
}

.left1 {
  grid-column-start: 1;
  grid-row-start: 4;
  margin: 0px 10px 10px 0px;
}

.left2 {
  grid-column-start: 1;
  grid-row-start: 6;
  margin: 0px 10px 10px 0px;
}

.left3 {
  grid-column-start: 1;
  grid-row-start: 8;
  margin: 0px 10px 10px 0px;
}

.left4 {
  grid-column-start: 1;
  grid-row-start: 10;
  margin: 0px 10px 10px 0px;
}

.space {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.space-left {
  border-right: 1px grey solid;
}

.middle, .right {
  margin: 0px 10px 10px 0px;
}

mainHead, .right {
  grid-column-start: 3;
}

.middle {
  grid-area: 2/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.middle1 {
  grid-area: 4/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.middle2 {
  grid-area: 6/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.middle3 {
  grid-area: 8/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.middle4 {
  grid-area: 10/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tic {
  width: 105%;
}

.wrong {
  width: 30%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.comp {
  grid-column-start: 2;
  border-top: 1px grey solid;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
}

.comp-left {
  border-left: 1px grey solid;
  border-bottom: 1px grey solid;
}

.comp-right {
  border-right: 1px grey solid;
  border-bottom: 1px grey solid;
}

.mainC {
  color: rgb(194, 14, 14);
  background-color: rgb(250, 206, 206);
}

.mainA {
  color: rgb(35, 35, 211);
  background-color: rgb(209, 209, 255);
}

.mainR {
  color: rgb(8, 143, 8);
  background-color: rgb(198, 248, 198);
}

.mainD {
  color: rgb(75, 71, 71);
  background-color: rgb(212, 212, 212);
}

.mainT {
  color: rgb(16, 80, 165);
  background-color: rgb(196, 219, 247);
}

option {
  color: rgb(35, 35, 211);
  background-color: #f0f0f0;
  cursor: pointer;
}

#final-outcome {
  text-align: center;
  font-size: 28px;
  color: rgb(35, 35, 211);
}

.center1 {
  max-width: 310px;
  margin: auto;
}

.center {
  text-align: center;
  margin: auto;
}

c {
  color: rgb(35, 35, 211);
}